body {
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.spacecraft {
}

.control-box rect {
  fill-opacity: 50%;
}

.mlt line {
  fill: none;
  stroke: #bbb;
  stroke-dasharray: 10,10;
  shape-rendering: crispEdges;
}

.mlt line {
  fill: none;
  stroke: #bbb;
  stroke-dasharray: 10,10;
  shape-rendering: crispEdges;
}
